 /* Title */
 @keyframes flash {
     0%  {color: #ff0000;}
    25%  {color: #ffff00;}
    50%  {color: #0080ff;}
    100% {color: #00ff00;}
    
}
 
 .flash {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
  /* Title */
  
  
  
  
  
   /* Navigation Bar */
 
 .nav-bar 
    {   top:-100px;
        width: 100%;
        left:-3%;
        list-style: none; 
        margin-top: 10px;
        margin-left: 80px;
        text-align: center;
        text-decoration: none;
        position: relative;
    
       
    }
        

 .nav-bar li 
    { 
    top:100px;
    display: inline; 
    position: relative;
    list-style: none;
    margin-left: auto;
    padding-top: -10px;
    

    }

.nav-bar li a 
    {   color: #990000;
        border: 7px ridge #ffff00;
        text-decoration: none;
        border-radius: 25%;
        background-color: #FA7921;
        margin-right: 100px;
        padding: 5px; 
        opacity: .9;
    
    }
    
    a:hover {
    color: black;
	font-size:2em;
	
}

   /* Navigation Bar */
   
   
   
   
     /* Properties for images*/
        img 
    { 
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      border:1px ridge #66b34d;
      border-radius: 25%;
      border-width:10px;
      width: 20%;
      height: 40%;
     
      }
    
    
   img:hover
{
    width:50%;
    height: 50%;
}

/* Properties for images*/





 /* Properties for text*/
 p{
    font-family: 'annie';
    font-size: 30px;
    font-weight: bold;
     }
 /* Properties for text*/
 
 


 /* The body of the site*/

.intro{
    top:-200px;
    position: relative;
    color:#000000;
    font-size: 20px;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 30%;
    padding: 50px 0;
    background-color :#b30000;
    border:10px ridge #ffff00;
    border-radius: 15px 50px;
    opacity: .9;
    }


.throwup
 {   top:-200px;
     position: relative;
    color:black;
    font-size: 20px;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 30%;
    padding: 50px 0;
    background-color:#ffbf00;
    border:10px ridge #ffff00;
    border-radius: 15px 50px;
    opacity: .9;
  }

 
 
 .thesticky
{  
    top:-200px;
    position: relative;
    color:black;
    font-size: 20px;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 30%;
    padding: 50px 0;
    background-color:#6699ff;
    border:10px ridge #ffff00;
    border-radius: 15px 50px;
    opacity: .9;
    }



 .vp
 { 
    top:-200px; 
    position: relative;
    color:black;
    font-size: 20px;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 30%;
    padding: 50px 0;
    border:10px ridge #ffff00;
    border-radius: 15px 50px;
    background-color: #FA7921;
    opacity: .9;
 }
 
  /* The body of the site*/